<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.private_module">

    <application>
        <activity
            android:name=".Activity.PictureWaterMackActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleFullscreen"></activity>

        <activity
            android:name=".Activity.PictureSelectorActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Activity.UserInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name=".Activity.ChangeNickNameActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Activity.MyPhotoAlbumActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Activity.AuthActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Activity.SettingActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Activity.AddCarActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Activity.CertificationActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Activity.BondCarActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Activity.RequestIdeaActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Activity.UserManagerActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Activity.NotifyCationActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Activity.ChangePasswordActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Activity.WxAccountActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".Activity.Active.ActiveWebActivity"
            android:exported="true"></activity>

        <activity
            android:name=".Activity.MineElderActivity"
            android:screenOrientation="portrait" />

        <!--11111111111111111111111111111111111111111111111111111111111111111111111-->


        <activity android:name=".Activity.NewVession.MyFansActivity"></activity>
        <activity android:name=".Activity.NewVession.MyFocusActivity"></activity>
        <activity android:name=".Activity.NewVession.MyLikeActivity"></activity>
        <activity android:name=".Activity.NewVession.MyRestoreActivity"></activity>

        <activity android:name=".Activity.PhotoAddWaterMarkerActivity"></activity>
        <activity android:name=".Activity.Picture.ShareEditPictureActivity"></activity>
        <activity android:name=".Activity.NewVession.AtmeActivity"></activity>
        <activity android:name=".Activity.NewVession.CommandActivity"></activity>
    </application>
</manifest>
