<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.elder.zcommonmodule">


    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"></uses-permission>
    <application>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.elder.zcommonmodule.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service android:name=".Service.Screen.ScreenRecordService"></service>

        <activity android:name=".ErrorLoadingActivity"></activity>
    </application>
</manifest>
