<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cstec.administrator.party_module">


    <uses-permission android:name="android.permission.CALL_PHONE" />
    <application>

        <activity android:name=".Activity.PartyDetailActivty"></activity>
        <activity android:name=".Activity.SubjectPartyActivity"></activity>
        <activity android:name=".Activity.PartySubjectDetailActivity"></activity>
        <activity android:name=".Activity.PartyClockDetailActivity"></activity>
        <activity
            android:name=".Activity.SearchPartyActivity"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity android:name=".Activity.OrganizationListActivity"></activity>
        <activity android:name=".Activity.EnrollListActivity"></activity>
    </application>
</manifest>
